<form method="post" action="{{ path('commande_delete', {'id': commande.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette commande?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <div class="text-right">
        <button class="btn btn-danger">Supprimer</button>
    </div>
</form>
