{% extends 'base.html.twig' %}

{% block title %}{{ parent ()}} Commande de CD de Yode & Siro{% endblock %}

{% block body %}

    <div id="page-container" class="col-md-8 coloumn right vhm home-page">
        <div class="inner-container home-pg vhm-item">

            <div class="page hidden hidden-xs hidden-sm visible-md visible-lg" id="home">
                <img src="{{ absolute_url(asset('assets/images/site.jpg')) }}" alt="" class="img-responsive">
            </div>

        </div>
        <div class="inner-container ajax-pg vhm-item">

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function notifyMe(){
            var page = {{ asset('commande/new.html.twig') }};
            var from_location = ".inner-container.home-pg";
            var to_location = ".inner-container.ajax-pg";
            var home_page = "#page-container .inner-container.home-pg .page";
            var page_container = "#page-container";
            var ajax_page_wrapper = "#page-container .inner-container.ajax-pg";
            var ajax_page = "#page-container .inner-container.ajax-pg .page";

            $(".page-to-page").on("click", function(){
                $(home_page).stop().animate({
                    top: "-30px",
                    opacity: 0
                }, 800, function(){
                    $(page_container).removeClass("home-page");
                    $.post(page, function(data){
                        $(ajax_page_wrapper).html(data);
                        owlCarouselWidget();
                        $(ajax_page).css("top", "-30px");
                        $(ajax_page).stop().animate({
                            top: "0px",
                            opacity: 1
                        }, 800);
                    });
                });
            });
        }
    </script>
{% endblock %}
